*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}

html{
    scroll-behavior: smooth;
}

h1, h2, h3, h4{
    color: var(--title-color);
    font-weight: 500;
}

a{
    text-decoration: none;
}

img{
    max-width: 100%;
    height: auto;
}

ul{
    list-style: none;
}

:root{
    --first-color: #d56e3f;
    --first-color-alt: #d36836;
    --title-color: #fafafa;
    --text-color: #68544b;
    --text-color-light: #958983;
    --body-color: #1e2c25;
    --container-color: #fff5f0;
}

.container{
    max-width: 1024px;
    margin-inline: 1.5rem;
}

.section{
    padding-block: 5rem 1rem
}

.grid{
    display: grid;
    gap: 1.5rem;
}

.section__title{
    font-size: 1.5rem;
    margin-bottom: 1.5rem;
}

.section__subtitle{
    display: block;
    font-size: 1.25rem;
    font-family: Arial, Helvetica, sans-serif;
    color: var(--first-color);
    margin-bottom: .5rem;
}

.section__title, .section__subtitle{
    text-align: center;
}

.main{
    overflow: hidden;
}

.header{
    position: fixed;
    width: 100%;
    background-color: var(--body-color);
    top: 0;
    left: 0;
    z-index: 100;
    transition: box-shadow .2s, background .2s;
}

.nav{
    position: relative;
    height: 3.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav__logo{
    align-items: center;
    margin-top: 10px;
    transition: color .3s;
    column-gap: .5rem;
    width: 250px;
}

.nav__logo, .nav__toggle, .nav__close{
    display: flex;
    color: var(--title-color);
}

.nav__toggle{
    font-size: 1.25rem;
    cursor: pointer;
}

@media screen and (max-width: 767px){
    .nav__menu{
        position: fixed;
        top: -100%;
        left: 0;
        background-color: var(--body-color);
        width: 100%;
        box-shadow: 0 8px 20px hsla(19, 64%, 24%, .1);
        padding-block: 3.5rem;
        transition: top .4s;
    }
}

.nav__list{
    display: flex;
    flex-direction: column;
    text-align: center;
    row-gap: 2rem;
}

.nav__link{
    color: var(--title-color);
    font-weight: 500;
    transition: color .4s;
}

.nav__link:hover{
    color: var(--first-color);
}

.nav__close{
    position: absolute;
    cursor: pointer;
    top: 1rem;
    right: 1.5rem;
    font-size: 1.5rem;
}

.show-menu{
    top: 0;
}

.bg-header{
    box-shadow: 0 2px 8px hsla(19, 64%, 24%, .1);
}

.home{
    position: relative;
}

.home__container{
    row-gap: 3rem;
    padding-top: 2rem;
}

.home__img{
    width: 300px;
    justify-self: center;
}

.home__data{
    text-align: center;
}

.home__title{
    font-size: 2.25rem;
    margin-bottom: 1rem;
}

.home__title img{
    width: 40px;
}

.home__title div{
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: .5rem;
}

.home_description{
    padding: 0 1rem;
    margin-bottom: 2.5rem;
}

.btn{
    display: inline-flex;
    align-items: center;
    column-gap: .5rem;
    background-color: var(--first-color);
    border-radius: 4rem;
    padding: 1rem 1.5rem;
    color: #fff;
    font-weight: 500;
    transition: background .3s;
}

.btn i{
    font-size: 1.5rem;
    transition: transform .3s;
}

.btn:hover{
    background-color: var(--first-color-alt);
}

.btn:hover i{
    transform: translateX(.25rem);
}

.about{
    position: relative;
}

.about__container{
    row-gap: 3rem;
}

.about__data{
    text-align: center;
}

.about__title img{
    width: 30px;
}

.about_title div{
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: .5rem;
}

.about__img{
    width: 300px;
    justify-self: center;
}

.newsletter__container{
    position: relative;
}

.newsletter__content{
    position: relative;
    background-color: hsl(19, 24%, 15%);
    border-radius: 2.5rem;
    padding: 5rem 1rem 3rem;
    text-align: center;
    overflow: hidden;
    margin-bottom: 2rem;
}

.newsletter__img{
    width: 250px;
    position: absolute;
    top: -4.5rem;
    left: -8rem;
}

.newsletter__data .section__title{
    color: #fff;
    margin-bottom: 2rem;
}

.newsletter__form{
    padding: 5px 5px 5px 16px;
    background-color: #fff;
    border-radius: 4rem;
    display: flex;
    column-gap: .5rem;
}

.newsletter__input, .newsletter__button{
    border: none;
    outline: none;
}

.newsletter__input{
    width: 90%;
    color: var(--text-color);
}

.footer{
    position: relative;
    padding-block: 3rem 2rem;
    overflow: hidden;
}

.footer_container{
    row-gap: 3rem;
}

.footer__logo{
    display: inline-flex;
    align-items: center;
    column-gap: .5rem;
    color: var(--title-color);
    font-size: 1rem;
    font-weight: 1rem;
    transition: color .3s;
}

.footer__logo img{
    width: 25px;
}

.footer__logo:hover{
    color: var(--first-color);
}

.footer__description,
.footer__link,
.footer__information{
    font-size: .8rem;
}

.footer__content,
.footer-_links{
    display: grid;
}

.footer__content{
    grid-template-columns: repeat(2, max-content);
    gap: 2.5rem;
}

.footer__title{
    font-size: 1rem;
    margin-bottom: 1.5rem;
}

.footer__links{
    row-gap: .5rem;
}

.footer__link{
    color: var(--text-color);
    transition: color .3s;
}

.footer__link:hover{
    color: var(--first-color);
}

.footer__social{
    display: flex;
    column-gap: 1.25rem;
}

.footer__social-link{
    color: var(--first-color);
    font-size: 1.25rem;
    transition: color .3s, transform .3s;
}

.footer__social-link:hover{
    color: var(--first-color-alt);
    transform: translateY(-2px);
}

.footer__info{
    margin-top: 6.5rem;
    flex-direction: column;
    row-gap: 1.5rem;
}

.footer__copy{
    text-align: center;
    font-size: .8rem;
    color: var(--text-color-light);
}


